#     directories

.vs/
bin/
obj/

#     files
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

*.blend1

*.idb
*.pdb
*.lastbuildstate
*.tlog
build/Sandbox.exe
Sandbox/imgui.ini
Sandbox/imgui.ini
build/Sandbox.exe
